
@{
    ViewBag.Title = "GioHang";
}


@{
    ViewBag.Title = "GioHang";
}

<!DOCTYPE html>

<html>
<head>
    <title> GIỎ HÀNG </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <style>
        p2 {
            font-size: 25px;
            margin-left: 180px;
            position: fixed;
            margin-top: 0px;
            font-weight: bold;
            word-spacing: 30px;
        }

        .Logo {
            position: fixed;
            margin-left: -150px;
            margin-top: -47px;
        }

        .Ship {
            position: fixed;
            left: 50px;
            top: 480px;
            margin-top: 70px;
            height: 210px;
            width: 370px;
        }

        .box {
            position: fixed;
            margin-left: 700px;
            margin-top: 0px;
        }

        p3 {
            font-size: 30px;
            position: fixed;
            margin-left: 1000px;
            margin-top: -10px;
        }

        p4 {
            margin-top: 90px;
            position: fixed;
            margin-left: -150px;
        }

        p5 {
            font-size: 30px;
            font-weight: bold;
            position: fixed;
            margin-top: 105px;
            margin-left: -150px;
        }

        p6 {
            font-weight: bold;
            text-justify: auto;
        }

        p7 {
        }

        p9 {
            position: fixed;
            margin-top: 500px;
            margin-left: 250px;
            font-size: 20px;
        }

        p11 {
            position: fixed;
            margin-top: 470px;
            margin-left: 850px;
            font-size: 20px;
        }

        a:hover {
            text-decoration: none;
        }

        a {
            color: orange;
        }

        #xoa {
            color: black;
        }

            #xoa:hover {
                text-decoration: none;
            }

        body {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(180deg,rgba(135,206,250,0.5),rgba(245,245,245,0.5)), url(https://patternanddesign.com/wp-content/uploads/2019/01/ogee.jpg);
            background-size: 1px;
        }
    </style>
    <script src="https://kit.fontawesome.com/17bf7969e2.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Hình ảnh HTML -->
    <p>

        <img class="Logo" title="LUCCI" class="Lucci" src="~/Content/Logo.jpg" height="100px" width="200px" />
        <img class="Ship" src="~/Content/Delivery.gif" height="400px" "   />
    </p>
    <p2>
        <a>Woman</a>
        <a>Men</a>
        <a href="About">About</a>
        <a href="Contact">Contact</a>
    </p2>

    <!-- Tìm kiếm -->
    <div class="box">
        <div class="Search-1">
            <input type="search" id="search" placeholder="Tìm kếm..." style="width:300px; height: 30px; " />
        </div>
    </div>

    <!-- icon -->
    <p3>
        <i class="fa fa-search"></i>
        <i class="fa fa-user"></i>
        <a href="" class="fa fa-shopping-basket"></a>
    </p3>

    <!-- Miễn phí vận chuyển -->
    <button class="btn btn-warning" name="Freeship" type="button" style="width:1520px; position:fixed; margin-top: 55px; margin-left: -190px; " onclick="alert('ĐÃ ÁP DỤNG MIỄN PHÍ VẬN CHUYỂN')" title="ÁP DỤNG CHO ĐƠN GIÁ TRÊN 500K">Miễn phí vận chuyển</button>

    <!-- Trang chủ/Giỏ hàng-->
    <p4>
        <i>Trang chủ /</i>
        <i2 style="color:red;">Giỏ hàng</i2>
    </p4>

    <p5>Giỏ hàng</p5>

    <p6>
        <i style="position:fixed; margin-top: 150px; margin-left: -100px;">HÌNH ẢNH</i>
        <i2 style="position:fixed; margin-top: 150px; margin-left: 120px;">SẢN PHẨM</i2>
        <i4 style="position:fixed; margin-top: 150px; margin-left: 320px;">KÍCH CỠ</i4>
        <i5 style="position:fixed; margin-top: 150px; margin-left: 520px;">SỐ LƯỢNG</i5>
        <i6 style="position:fixed; margin-top: 150px; margin-left: 720px;">GÍA</i6>
        <i7 style="position:fixed; margin-top: 150px; margin-left: 920px;">TỔNG TIỀN</i7>
    </p6>

    <tr></tr>



    <p9>
        <marquee><span style="font-weight: bold; font-size: 30px; color:red;">HÌNH THỨC THANH TOÁN </span></marquee>
        <br>Thanh toán khi nhận hàng ( COD )</br>
    </p9>
    <!--Tiếp tục mua hàng-->
    <p10>
        <button class="btn btn-primary" name="Continue" type="button" style="position:fixed; margin-top: 680px; margin-left: -120px; width: 300px;">Tiếp tục mua hàng</button>
    </p10>5

    <p11>
        <label>
            <br> Số lượng: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;              2</br>
            <br>Thành tiền: &emsp;&emsp;&emsp;      598.000đ</br>
            <br>Ngày hết hạn: &emsp;  12/12/2020</br>
            <br><button class="btn btn-success" style=" width: 300px;" type="button" onclick="alert('BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG')" value="Dathang">ĐẶT HÀNG</button></br>
        </label>
    </p11>
    @RenderBody();

</body>
</html>






